parameters:
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php
    level: max
    paths:
        - src
        - tests
        - views
    ignoreErrors:
        - '~Variable \$this might not be defined.~'
